<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <!-- We could use %= link_to user.name, user % but will use render @users -->
  <%= render @users %> 
</ul>

<%= will_paginate %>